@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format("woff2");
}

/* Estilos globais */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

.container {
  display: grid;
  grid-template-columns: [first] 50% [second] 50%;
  grid-template-rows: [row1] 50% [row2] 50%;
}

.content {
  padding-right: 20%;
  padding-left: 20%;
}

.header {
  background-color: rgb(42, 42, 42);
  height: 80px;
  width: 100%;
}

.main-title {
  margin: 0;
  padding: 0;
  top: 25%;
  color: #fff;
  text-align: center;
  position: relative;
}

.space {
  display: inherit;
  height: 2em;
}

space_side {
  padding-right: 100px;
}

/* Section principal */

.section-title {
  font-size: 1.8em;
}